<!-- Navbar -->
<div class="w3-top">
	<div class="w3-bar w3-black w3-card">
		<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
			<i class="fa fa-bars"></i>
		</a>
		<a href="{{ path('index') }}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
		{% if categories is defined %}
		<div class="w3-dropdown-hover w3-hide-small">
			<button class="w3-padding-large w3-button" title="More">CATEGORIES
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4">
				{% for category in categories %}
					<a href="{{path('index_category', { 'categoryId' : category.id } )}}" class="w3-bar-item w3-button">{{ category.name }}</a>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<a href="{{ path('tag_list') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TAG</a>
		{% if is_granted('ROLE_USER') %}
		<div class="w3-dropdown-hover w3-hide-small">
			<button class="w3-padding-large w3-button" title="More">UTILISATEUR
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4">
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_backoffice') }}" class="w3-bar-item w3-button">BACKOFFICE ADMIN</a>
					<a href="{{ path('commande_backoffice_admin') }}" class="w3-bar-item w3-button">BACKOFFICE ADMIN COMMANDES</a>
				{% endif %}
				<a href="{{ path('commande_backoffice') }}" class="w3-bar-item w3-button">BACKOFFICE CLIENT</a>
				<a href="{{ path('app_logout') }}" class="w3-bar-item w3-button">DECONNEXION</a>
			</div>
		</div>
		{% else %}
			<a href="{{ path('app_login') }}" class="w3-bar-item w3-button w3-padding-large">CONNEXION</a>
		{% endif %}
		<a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right">
			<i class="fa fa-search"></i>
		</a>
	</div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
	<a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
	<a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
	<a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
	<a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

